@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@130;200&display=swap');

body 
{
    background-color: #303030;
    color:white;
    font-family: 'Poppins', sans-serif;
}

#container
{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}
.rectangle{
    text-align:center;
    margin:20px;
    width: 960px;
}

#copyright
{
    font-size: 10px;
}
#time
{
    float:left;
    font-size: 56px;
    text-align: right;
}
#name
{
    font-size: 56px;
    float:left;
    width: 600px;
    text-align:left;
}