@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@120;300&display=swap');

body 
{
    background-color: #303030;
    color:white;
    font-family: 'Poppins', sans-serif;
}

#container
{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

.clear{
    clear: both;
}

.rectangle{
    text-align:center;
    margin:20px;
    width: 960px;
}

.square{
    width: 50%;
    float: left;
}

#copyright
{
    font-size: 10px;
}
#time
{
    float:left;
    font-size: 56px;
    text-align: right;
}
#name
{
    font-size: 56px;
    float:left;
    width: 600px;
    text-align:left;
}

.tile1{
    width:230px;
    height: 150px;
    background-color: #3095d3 ;
    float: left;
    text-align: center;
    margin: 10px;
    transition: 0.2s;
}
.tile1:hover{
    background-color: #2084c2;
}

.tile2{
    width:230px;
    height: 150px;
    background-color: #666666 ;
    text-align: center;
    margin: 10px;
    float: left;
    transition: 0.2s;

}
.tile2:hover{
    background-color: #555555;
}
.tile3{
    width:230px;
    height: 150px;
    background-color: #93c478 ;
    text-align: center;
    margin: 10px;
    float: left;
    transition: 0.2s;

    
}
.tile3:hover{
    background-color: #82b367;
}
.tile4{
    width:420px;
    height: 90px;
    background-color: #bf5a5a ;
    text-align: center;
    margin: 10px;
    float: left;
    transition: 0.2s;
    padding: 30px;
    font-size: 25px;
    line-height: 150%;

}
.tile4:hover{
    background-color: #ae4a4a;
}

p{
    margin: 0;
    font-size: 18px;
    margin-top: 5px;
}